/* font-family: "PFBeauSansProBlack"; */
@font-face {
    font-family: "PFBeauSansProBlack";
    src: url("../media/fonts/PFBeauSansPro-Black.eot");
    src: url("../media/fonts/PFBeauSansPro-Black.eot?#iefix")format("embedded-opentype"),
    url("../media/fonts/PFBeauSansPro-Black.woff") format("woff"),
    url("../media/fonts/PFBeauSansPro-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PFBeauSansProBold"; */
@font-face {
    font-family: "PFBeauSansProBold";
    src: url("../media/fonts/PFBeauSansPro-Bold.eot");
    src: url("../media/fonts/PFBeauSansPro-Bold.eot?#iefix")format("embedded-opentype"),
    url("../media/fonts/PFBeauSansPro-Bold.woff") format("woff"),
    url("../media/fonts/PFBeauSansPro-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PFBeauSansProLight"; */
@font-face {
    font-family: "PFBeauSansProLight";
    src: url("../media/fonts/PFBeauSansPro-Light.eot");
    src: url("../media/fonts/PFBeauSansPro-Light.eot?#iefix")format("embedded-opentype"),
    url("../media/fonts/PFBeauSansPro-Light.woff") format("woff"),
    url("../media/fonts/PFBeauSansPro-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PFBeauSansProSemiBold"; */
@font-face {
    font-family: "PFBeauSansProSemiBold";
    src: url("../media/fonts/PFBeauSansPro-SemiBold.eot");
    src: url("../media/fonts/PFBeauSansPro-SemiBold.eot?#iefix")format("embedded-opentype"),
    url("../media/fonts/PFBeauSansPro-SemiBold.woff") format("woff"),
    url("../media/fonts/PFBeauSansPro-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PFBeauSansProThin"; */
@font-face {
    font-family: "PFBeauSansProThin";
    src: url("../media/fonts/PFBeauSansPro-Thin.eot");
    src: url("../media/fonts/PFBeauSansPro-Thin.eot?#iefix")format("embedded-opentype"),
    url("../media/fonts/PFBeauSansPro-Thin.woff") format("woff"),
    url("../media/fonts/PFBeauSansPro-Thin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PFBeauSansProThin"; */
@font-face {
    font-family: "PFBeauSansProBbook";
    src: url("../media/fonts/PFBeauSansPro-Bbook.eot");
    src: url("../media/fonts/PFBeauSansPro-Bbook.eot?#iefix")format("embedded-opentype"),
    url("../media/fonts/PFBeauSansPro-Bbook.woff") format("woff"),
    url("../media/fonts/PFBeauSansPro-Bbook.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
